body {
	background-image: url(../img/bodybg.png);
}

.navbar{
	top:0;
	width:100%;
	position:fixed;
	z-index: 100;
}
.module{
	margin-top:50px;
	padding:20px 15px;	
}
.container{
	padding:0 30px 30px 30px ; 	
	background-color:white;	
	box-shadow: 10px 10px 5px #aaa;
}

.quoter{
	font-size: 120px;
	color:#aaaaaa;
}
.quote{
	margin-top:150px;
	text-align:center;
}
.box{
	margin-top:50px;	
	width:300px;
}
.icon{
	width:35px;
}
