#article{
	padding:80px 80px;
}
#portrait{
	margin:100px auto;
	margin-bottom:30px;
	border:3px solid #b7a394;
}
.thumbnail{
	box-shadow: 3px 3px 3px #ccc;
}
.artwork{
	cursor:pointer;
}
#show-box{
	display:none;
	position:fixed;
	background-color:#111;
	/*opacity:0.85;*/
	width:100%;
	height:100%;
	text-align:center;
	padding: 20px;
	/*vertical-align:middle;*/
	/*line-height:100%;*/
	z-index: 3;
}
#aside{
	background-image:url(../img/bg.jpg);
	text-align:center;
	padding:100px 20px;
}
#show{
	margin:auto;
	/*vertical-align:middle;*/
	max-height:100%;
	max-width: 100%;
}
.intro{
	display:none;
}
.glyphicon-remove:hover{
	background-color:#DE5955;
}
#information{
	width:300px;
	height:200px;
	border-radius:5px;
	color:white;
	background-color: black;
	padding:0 10px;
	position:fixed;
	margin:auto;
	opacity:0.9;
	filter: alpha(opacity=90);  
	top: 0; left: 0; bottom: 0; right: 0; 
	display:none;
}
#info-text{
	/*padding:30px;*/
	height:200px;
	line-height:200px;
	text-align:center;
	vertical-align:middle;
}
#aside-text{
	text-indent:50px;
	line-height:200%;
	font-size:20px;
	color:#8F6A33;
}
#aside-text p:first-letter{
	font-size:xx-large;
}
