*{
	margin: 0 auto;
	color: black;
	position: relative;
	border: 0;
}
a{
	text-decoration: none;
}
body{
	width: 100%;
	background-color: #E8DCCE
}
.part-head{
	padding-left: 10px;
	background-color:#f39d93;
	border-radius: 5px;
	margin-bottom: 10px;
	height: 40px;
}
.part-head a{
	color: white;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	font-weight: bold;
}
/*标题*/
.head{
	width: 100%;
	height: 150px;
	background-color:#B1C4CB;
}
.head-content{
	width: 1000px;
}
/*左侧团队标志*/
.head-left{
	width: 500px;
	height:150px;
	float: left;
}
.head-left img{

}
/*右侧导航*/
.head-right{
	width: 400px;
	height: 150px;
	float: left;
	margin: 0 30px 0 70px;
}
.head-right a{
	font-size: 20px;
	display: block;
	color: white;
	font-weight: bold;
	width: 130px;
	height: 50px;
	margin-top: 100px;
	text-align: center;
	float: left;
}
/*第一部分 团队介绍*/
.part1{
	width: 1000px;
	height: 350px;
	background-color:#F0E9E1;
}
.content1{
	width: 240px;
	margin-left: 70px;
	height: 240px;
	float: left;
	border-radius: 50%;
	border:5px solid white;
}
.content1 img{
	width: 240px;
	height: 240px;
	border-radius: 50%;
}
.content1 div{
	font-size: 20px;
	text-align: center;
	color: #5d3f1b;
	width: 240px;
	height: 60px;
	line-height: 60px;
	/*font-weight: bold;*/
}
/*第二部分 作品简介*/
.part2{
	width: 1000px;
	height: 940px;
	background-color: #E2EDF2;
	padding-bottom: 10px;
}
.content2{
	width: 1000px;
	height: 440px;
}
.content2-head{
	height: 40px;
	margin-left: 30px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	color:#516068;
}
.content2-text{
	line-height: 30px;
	font-size: 18px;
	color:#516068;
	margin-left: 15px;
	text-indent: 15px;
	margin-right: 20px;
	/*font-weight: bold;*/
}
.images{
	padding: 20px 0;
	height:360px;
}
.images img{
	float: left;
	width:410px;
	margin-left: 60px;
	height:300px;
}
/*第三部分 联系我们*/
.part3{
	width: 100%;
	height: 100px;
	background-color:#665B52;
	color: white;
}
.footer{
	width: 1000px;
	padding-top: 20px;
	height: 70px;
	
}
.footer div{
	color: white;
	padding-left: 150px;
	font-size: 15px;
	/*font-weight: bold;*/
	height:30px;
	line-height: 50px;
}